@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Press+Start+2P&display=swap");

body {
  font-family: "Nanum Pen Script";
  background-color: #fff5ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 3.4rem;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 0.5rem;
}

.score {
  font-size: 2rem;
  margin: 0.5rem;
}

.fa-heart {
  font-size: 1.6rem;
}

.coin {
  font-size: 2rem;
}

.coin span {
  color: goldenrod;
}

.fruit-collection {
  font-size: 2rem;
}

.fruit-collection span {
  color: green;
}

.life span {
  color: red;
}

.mission {
  font-size: 2.2rem;
  margin: 0;
}

.footer {
  font-size: 2rem;
  margin-top: 1rem;
}

.soundButton {
  color: #377d71;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  top: 60px;
}
