@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Press+Start+2P&display=swap");

body {
  font-family: "Nanum Pen Script";
  background-color: #fff5ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem;
}

.fa-heart {
  font-size: 1.6rem;
}

.fruit-collection {
  font-size: 2rem;
}

.fruit-collection span {
  color: green;
}

.life span {
  color: red;
}

p {
  font-size: 2rem;
  margin: 0;
}
